body{
    padding: 0;
    margin: 0;
    background-color: burlywood;
}

/* Conatiner*/
.container{
    margin: 50px;
    background-color: blanchedalmond;
    height: 600px;
    margin-top: 70px;
    color: black;
    padding: 0 5%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    max-width: 1000px;
    margin-inline: auto;
}
/* @media (min-width: 1200px) { 
    .container {
        max-width: 1000px;
        margin-inline: auto;
    }
} */

/* Header */
 header{
    display: flex;
    justify-content: space-between;
} 
.logo img{
    width: 150px;
    height: 150px;
    margin-left: -30px;
}

nav ul{
    display: flex;
    gap: 60px;
}
nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight:bold;
}
nav .active{
    color: brown;
}
nav ul li a:hover{
    color: burlywood;
}
/* Main section */
.box{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    /*margin-bottom: 100px;*/
    margin-top: -10px;
}
.left-side{
   
    width: 400px;
}
.left-side h3{
    margin-top: -20px;
    font-size: 24px;
}
.button a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid burlywood;
    border-radius: 4px;
    font-weight: bold;
}
.button a:hover{
    color:black;
    background-color: white;
}

.left-side .button{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.right-side img{
    width: 450px;
}
footer{
    position: absolute;
    bottom: 10%;
    width: 89%;
}
footer::before {
    content: "";
    display: block;
    width: 100%; /* Full width of the parent element */
    height: 1px; /* Line height */
    background-color: black; /* Line color */
    position: absolute;
    top: 0; /* Position at the top of the footer */
    left: 0;
}
footer hr{
    margin: 0 -6%;
    border: 0;
    border-top: 1px solid black;
}
.socials{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.socials a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 580;
}

.wrap{
    display: flex;
    justify-content: space-between;
}
.card{
    border: 0;
    background-color: burlywood;
    width: 300px;
    height: 150px;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}
.card p{
    margin-left: 10%;
}
 main{
    margin-top: -20px;
} 
.skills-info img{
    height: 100px;
    width: 100px;
    object-fit: contain;
}
.skills-wrap{
    display: flex;
    gap: 150px;
}
.project-lists li{
    padding: 5px;
}
.contacts{
   display: flex;
   gap: 5px;
}

.weather-container {
    background: #a8e063;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 280px;
}

.weather-main {
    margin: 15px 0;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#weather-icon {
    margin-right: 10px;
}

.weather-details {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.weather-details :first-child{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}


.detail {
    text-align: center;
}
.detail :first-child{
    margin-bottom: 15px;
}

.detail i {
    font-size: 24px;
    margin-bottom: 5px;
    display: block;
}

.data {
    display: block;
    font-size: 18px;
    margin-bottom: 3px;
    font-weight: bold;
}
.data :nth-child(1){
    margin-top: 10px;
}
.contacts i, .contacts a{
    margin-top: 17px;
}
.contacts p{
    width: 140px;
}
.contacts a{
    text-decoration: none;
    color: black;
}
