body{
    padding: 0;
    margin: 0;
    background-color: black;
}

/* Conatiner*/
.container{
    margin: 50px;
    background-color: #02122C;
    height: 600px;
    margin-top: 70px;
    color: white;
    padding: 0 5%;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
 header{
    display: flex;
    justify-content: space-between;
} 

nav ul{
    display: flex;
    gap: 60px;
}
nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
/* Main section */
.box{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    margin-bottom: 70px;
}
.left-side{
    margin-top: 50px;
    width: 400px;
}
.left-side h3{
    margin-top: -20px;
    font-size: 22px;
}
.button a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid #3CEE5D;
    border-radius: 4px;
    font-weight: bold;
}
.left-side .button{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.right-side img{
    width: 450px;
}

footer hr{
    margin: 0 -6%;
    border: 0;
    border-top: 1px solid grey;
}
.socials{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.socials a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.socials a i{
    color: white;
}