body{
    padding: 0;
    margin: 0;
    background-color: burlywood;
}

/* Conatiner*/
.container{
    margin: 50px;
    background-color: blanchedalmond;
    height: 600px;
    margin-top: 70px;
    color: black;
    padding: 0 5%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

/* Header */
 header{
    display: flex;
    justify-content: space-between;
} 

nav ul{
    display: flex;
    gap: 60px;
}
nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight:bold;
}
/* Main section */
.box{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    margin-bottom: 100px;
}
.left-side{
    margin-top: 50px;
    width: 400px;
}
.left-side h3{
    margin-top: -20px;
    font-size: 22px;
}
.button a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid brown;
    border-radius: 4px;
    font-weight: bold;
}
.left-side .button{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.right-side img{
    width: 450px;
}
footer{
    position: absolute;
    bottom: 10%;
    width: 89%;
}

footer hr{
    margin: 0 -6%;
    border: 0;
    border-top: 1px solid black;
}
.socials{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.socials a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 580;
}

.wrap{
    display: flex;
    justify-content: space-between;
}
.card{
    border: 0;
    background-color: burlywood;
    width: 300px;
    height: 150px;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}
.card p{
    margin-left: 10%;
}
main{
    margin-top: 5%;
}